boto3
fs
rasterio
numpy
pandas
shapely
geopandas>=0.8.1
tqdm
python-dateutil
sentinelhub
tqdm
wandb
eo-learn
s2cloudless
git+https://github.com/sentinel-hub/eo-flow.git@develop
dataclasses
pyproj
psycopg2
scipy
scikit-image
setuptools
tensorflow
matplotlib
scikit-learn
lxml
pandarallel
